*{
    margin: 0;
    padding: 0;
}

header{
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0)),url("images/hat.jpg");
    background-position:bottom;
    background-size:cover;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    height: 500px;
    width: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header div{
    transform: scaleX(-1);
    width: 80%;
}
header h1{
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
header p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 15px 0px;
}
.button-design{
    font-family: 'Inter', sans-serif;
    background-color: red;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
}
.button-design:hover{
    background-color: rgb(206, 1, 1);
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bolder;
}
.second-part{
    display: flex;
    padding: 60px 180px 30px;
}

main h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

main p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin: 15px 0px;
}
.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-right: 30px ;
}
.right-side{
    text-align: center;
}

.third-part{
        display: flex;
        padding: 10px 180px 30px;
}
.third-part .left-side {
    padding-left: 30px;
}

.fourth-part{
        margin-top: 30px;
            margin-bottom: 60px;
}

.fourth-part .upper-part{
    text-align: center;
    margin-bottom: 60px;
}
.fourth-part .lower-part .row1{
    display: flex;
    justify-content: center;
}
.fourth-part .lower-part  .row1 > div{
    width: 350px;
    height: 150px;
    background-color: #FEF4F5;
    margin: 10px;
    display: flex;  
    padding: 30px;
}
.imagepart{
    width: 30%;
}

.textpart{
    width: 100%;
}
.fourth-part .lower-part .row2{
    display: flex;
    justify-content: center;
}
.fourth-part .lower-part  .row2 > div{
    width: 350px;
    height: 150px;
    background-color: #FEF4F5;
    margin: 10px;
    display: flex;  
    padding: 30px;
}
.imagepart{
    width: 30%;
}
.textpart{
    width: 100%;
}
.fifth-part{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.fifth-part img{
    width: 350px;
    margin: 10px;
}
.sixsth-part .upper-part {
    text-align: center;
    margin-bottom: 60px;
}
.seventh-part{
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    
}

.seventh-part > div {
    width: 250px;
    height: auto;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
}
.seventh-part .card {
    /* text-align: justify; */
}
.seventh-part .card div {
    padding: 27px;
}
.seventh-part div img{
    width: 100%;
    /* height: auto; */
}
.card a{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: red;
    font-weight: bold;
}
footer{
    background-color: #0B0D17;
    text-align: center;
    padding: 25px;
}
footer h2 {
    color: #EF233C;
    font-family: 'Lobster', cursive;
}
footer p {
    color: white;
}